#logo {
	display: block;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
  margin-bottom: 20px;
	position: relative;
}
@font-face {
	    font-family: "Louda";
    src: url('../fonts/louda-regularsc-webfont.eot');
    src: url('../fonts/louda-regularsc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/louda-regularsc-webfont.woff2') format('woff2'),
         url('../fonts/louda-regularsc-webfont.woff') format('woff'),
         url('../fonts/louda-regularsc-webfont.ttf') format('truetype'),
         url('../fonts/louda-regularsc-webfont.svg#loudaregular_sc') format('svg');
    font-weight: normal;
    font-style: normal;

	font-family: "PT Sans";
	src: url("PTSans.ttc");
}

body {
/*  position: absolute;
*/width: 800px;
  margin: auto;
}

.grid {
  clear: both;
}

#cp_widget_d4e122e0-36cb-4bb6-a9dd-4f0c543c12cc {
  clear: both;
}

a {
    float: left;
    text-align: center;
    background-color: rgb(239,65,54);
    width: 100%;
    color: white;
    margin: auto;
    padding: 10px;
    border: none;
    text-decoration: none;
}

a:hover {
	border: solid 1px rgb(239,65,54);
	background-color: rgb(239,65,54);
}
a span {
    display: inline;
    font-family: 'Louda';
    letter-spacing: .2em;
    text-decoration: none;

}

/*a img {
  width: 100%;
  display: block;*/
}

#foot {
	font-family: "PT Sans", sans-serif;
	color: rgb(255,255,255);
	font-size: 13px;
	padding: 12px;
	background-color: rgb(239,65,54);
	clear: both;
	}

.footer {
	text-align: center;
}

#footerimage {
	max-width: 70px;
	max-height: 70px;
	margin-top: -20px;
}

@media only screen and (max-width: 800px) {
#logo {
 	width: 18em;
 }

@media only screen and (max-width: 620px) {
 
 .header {
	height: 30%;
}

 #slogan, hr {
 	display: none;
 }

  a img {
    display: none;
  }

  a span {
    display: inline;
    font-family: 'Louda';
    letter-spacing: .2em;
  }

  a {
    float: none;
    text-align: center;
    background-color: rgb(239,65,54);
    width: auto;
    color: white;
    margin: 10px 0;
    border: none;
    text-decoration: none;
  }

  a:hover {
    color: rgb(239,65,54);
    background-color: white;
  }

  #foot {
  	display: none;
  }

  #footerimage {
	max-width: 10%;
	max-height: 10%;
	margin-top: -10px;
}
